section#main {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
button {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  background: #03A9F4;
  cursor: pointer;
  outline: none;
  color: white;
}

button:hover {
  background: lightblue
}